<div class="container text-center">
  <h2 class="bigtitle">{{'app.title' | t}}</h2>
  <h3 class="title">{{ 'static-pages.terms.terms-of-service' | t }}</h3>

  <p class="my-8 text-sm">{{ 'static-pages.terms.last-updated' | t }}</p>

  <div class="prose mx-auto text-left">
    {{ 'static-pages.terms.content' | t | markdown }}
  </div>
</div>
