<section class="text-gray-900 body-font">
  <div class="grid grid-cols-1 my-6 md:px-5 md:py-5 container">
    {% render 'theme/simple/groups/content/form', current_profile: current_profile, group: group, object: object, context: context, presigned_url: presigned_url %}
  </div>
</section>
