<a class="flex items-center" href="{% render 'link_to', object: item_inventory.item %}">
  {% if item_inventory.item.photos[0].photo.versions.tiny %}
  <img width="80" src="{{ item_inventory.item.photos[0].photo.versions.tiny }}" alt="" class="w-20 me-5 rounded">
  {% else %}
    {% render 'theme/simple/ui/picture-placeholder', class:"w-20 rounded me-5" %}
  {% endif %}
  {{ item_inventory.item.item_detail.name }}
</a>
