<div class="container flex flex-wrap items-center">
  <h2 class="bigtitle">{{ 'app.groups.edit' | t }} {{ object.name  }}</h2>
</div>

{% render 'theme/simple/groups/form', object: object, context: context, current_profile: current_profile, presigned_url: presigned_url %}
