<h2 class="container bigtitle">{{ 'app.groups.new_group' | t }}</h2>

{% render 'theme/simple/groups/form', object: object, current_profile: current_profile, context: context, presigned_url: presigned_url %}
