<section class="flex items-center justify-between gap-10">
  <header>
    <h2 class="bigtitle">{{ 'admin_old.menu.posts.empty_state' | t }}</h2>
  </header>

  <img src="{{ 'images/empty_questions.svg' | asset_url }}" alt="" class="w-1/3">
</section>
