<section class="container py-12">

  <h2 class="bigtitle">Our partners</h2>

  <ul class="grid grid-cols-2 md:grid-cols-4 gap-5">
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex justify-center items-center border border-gray-300 p-8">
        <span class="sr-only">platformOS</span>
        <img alt="partner" class="h-8" src="https://uploads.prod01.oregon.platform-os.com/instances/1374/assets/images/svg/logo.svg" />
      </a>
    </li>
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex justify-center items-center border border-gray-300 p-8">
        <span class="sr-only">platformOS</span>
        <img alt="partner" class="h-8" src="https://uploads.prod01.oregon.platform-os.com/instances/1374/assets/images/svg/logo.svg" />
      </a>
    </li>
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex justify-center items-center border border-gray-300 p-8">
        <span class="sr-only">platformOS</span>
        <img alt="partner" class="h-8" src="https://uploads.prod01.oregon.platform-os.com/instances/1374/assets/images/svg/logo.svg" />
      </a>
    </li>
    <li class="filter grayscale hover:grayscale-0">
      <a href="#partner" class="flex justify-center items-center border border-gray-300 p-8">
        <span class="sr-only">platformOS</span>
        <img alt="partner" class="h-8" src="https://uploads.prod01.oregon.platform-os.com/instances/1374/assets/images/svg/logo.svg" />
      </a>
    </li>
  </ul>
</section>
