<div id="truck-images"></div>
<br />
<input type="button" value="Close" onclick="closeWindow()" class="heavytechs-bg-dark-orange text-white mr-2 px-6 leading-10 rounded-3xl text-base inline-block">

{% render 'theme/simple/photos/truck_image_form',
  object_uuid: object.uuid,
  presigned_url: presigned_url,
  user_id: user.id,
  photo_type: 'avatar',
  note: 'Image up to 2MB',
  max_number_of_files: 10,
  update_img_selector: '[data-avatar]'
%}


<script type="text/javascript">
  function closeWindow(){
    window.close();
  }
</script>